<%= f.error_messages %>
<p>
  <%= f.label "name" %>
  <%= f.text_field "name" %>
</p>
<p>
  <%= f.label "start" %>
  <%= f.datetime_select "start" %>
</p>
<p>
  <%= f.label "end" %>
  <%= f.datetime_select "end" %>
</p>
<p>
  <%= f.label "total_raking" %>
  <%= f.text_field "total_raking" %>
</p>
<div id="tours">
  <%= render :partial => "tournaments/tour", :collection => @tournament.tours %>
</div>
<%= add_tour_link %>
