<table id="tournament-<%= @tournament.id %>">
  <tbody>
    <tr id="header">
      <th>Place</th>
      <th>Player</th>
      <th>Points</th>
    </tr>
    <% @tournament.tours.each do |t| %>
      <tr id="tour-<%= t.id %>">
        <td><%= t.tournament_place %>.</td>
        <td><%= t.player.name unless t.player.nil? %></td>
        <td><%= t.raking %></td>
      </tr>
    <% end %>
  </tbody>
</table>