<% content_for :title, "Tournament #{@tournament.name}" %>

<h1><%= @tournament.name %></h1>
<h2>Raking: <%= @tournament.raking %></h2>
<h3>started: <%= @tournament.start %></h3>
<h3>finished: <%= @tournament.end %></h3>
<%= render :partial => @tournament %>