<% content_for :title, "Players" %>

<style>
  tr.inactive
  {
    background-color: grey;
  }
</style>

<table id="players">
  <tr id="header">
    <th>#</th>
    <th>Name</th>
    <th>Raking</th>
  </tr>
  <% @players.each_with_index do |p, n| %>
    <tr id="player-<%= p.id %>" class="<%= p.is_active? ? "active" : "inactive" %>">
      <td><%= n + 1 %>.</td>
      <td><%= link_to p.name, p %></td>
      <td align="right"><%= "%.4f" % p.calculated_raking %></td>
    </tr>
  <% end %>
</table>