<% content_for :title, @player.name %>

<h1>
  <%= "Player: #{@player.name} (#{@player.full_name})" %>
</h1>
<h2><%= "Raking: #{@player.calculated_raking} (#{link_to("#{@player.calculated_place} / #{@players_count}", players_path)})" %></h2>
<h3>
  <%= pluralize(@player.tours.count, "tournament") %>,
  <%= pluralize(@player.matches.count, "match") %>
</h3>
<% @player.events.each do |e| %>
  <div class="event <%= e.class %>" id="event-<%= e.id %>">
    <p>
      <label>Date: </label>
      <span><%= format_time(e.time) %></span>
    </p>
    <% if(Tour === e) %>
      <p>
        <label>Tournament: </label>
        <span>
          <%= link_to("#{e.tournament.name}", e.tournament) %>
          <%= "(#{e.tournament_participation.place} / #{e.tournament.players.count})" %>
        </span>
      </p>
    <% elsif(Match === e) %>
      <p>
        <label>Match: </label>
        <span><%= link_to(format_game_simple(e.game), game_path(e.game)) %></span>
      </p>
    <% end %>
    <p>
      <label>Points: </label>
      <span><%= e.raking %></span>
    </p>
  </div>
<% end %>
