<h1><%=  @player.name %></h1>
<h2>Raking: <%= @player.calculated_raking %></h2>
<% @player.events.each do |e| %>
  <p>
    Date: <%= e.time %><br>
    <% if e.instance_of?(Tour) %>
      Tournament: <%= link_to e.tournament.name, e.tournament %><br>
      Place: <%= e.tournament_participation.place %> of <%= e.tournament.players.count %><br>
    <% else %>
    <% end %>
    Points: <%= e.raking %><br>
  </p>
<% end %>
