<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%= yield :title %></title>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <% unless flash[:notice].blank? %>
    <div class="flash-notice" style="color: green;">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% unless flash[:error].blank? %>
    <div class="flash-error" style="color: red;">
      <%= flash[:error] %>
    </div>
  <% end %>
  <%= yield %>
</body>
</html>
